div.bareme-sub-item {
   display: flex;
   margin-bottom: 10px;
}

/* center span content text vertically */
div.bareme-sub-item span {
   display: inline-flex;
   align-items: center;
}

div.bareme-sub-item>span.title {
   width: 125px;
   margin-left: 20px;
}

div.bareme-sub-item>button {
   width: 35px;
}

div.bareme-sub-item>div.value {
   width: 30px;
   text-align: center;
   padding-top: 2%;
}