div.bareme-sub-item {
   display: flex;
}

/* center span content text vertically */
div.bareme-sub-item span {
   display: inline-flex;
   align-items: center;
}

div.bareme-sub-item>span.title {
   width: 100px;
   margin-left: 20px;
}

div.bareme-sub-item>button {
   width: 35px;
}

div.bareme-sub-item>span.value {
   margin-left: 10px;
   margin-right: 10px;
}