div.custom-tooltip {
   background-color: white;
   border: 1px solid rgb(204, 204, 204);
}

div.custom-tooltip>div {
   margin-top: 10px;
   margin-bottom: 10px;
}

td.tooltip-rank-evolution-cell {
   text-align: center;
}

td.tooltip-points-cell {
   text-align: right;
}

tr.tooltip-row>td {
   padding-left: 5px;
}

.tooltip-row>td:last-child {
   padding-right: 5px;
}